<form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nome do Projeto</mat-label>
    <input matInput formControlName="projectName" required />
    <mat-error *ngIf="produtoForm.get('projectName')?.invalid && produtoForm.get('projectName')?.touched">
      Nome é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descricao</mat-label>
    <input matInput formControlName="description" required />
    <mat-error *ngIf="produtoForm.get('description')?.invalid && produtoForm.get('description')?.touched">
      Descricao é obrigatório
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Data do Inicio</mat-label>
    <input matInput [matDatepicker]="pickerStart" formControlName="startDate">
    <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data do Fim</mat-label>
    <input matInput [matDatepicker]="pickerEnd" formControlName="endDate">
    <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Cliente</mat-label>
    <mat-select formControlName="clienteId">
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.id">
        {{ cliente.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="produtoForm.get('clienteId')?.invalid && produtoForm.get('clienteId')?.touched">
      Cliente é obrigatório.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="produtoForm.invalid">
    Salvar
  </button>
  <button mat-raised-button color="accent" routerLink="/produtos">Voltar</button>
</form>